<h1>New Source</h1>
<%= form_with scope: :source, url: sources_path, local: true do |form| %>
  <p>
    <%= form.label :google_id %><br>
    <%= form.text_field :google_id %>
  </p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
  </p>
    <%= form.submit %>
  </p>
<% end %>