<div class="row">
      <div class = 'col-md-8 blog-main'>
        <div class="blog-post">
       <%  @articles.each do |article| %>
      <h4 class="blog-post-title">
        <%= link_to "#{article.title}", article_path(article), class: 'navbar-brand' %> </h4>
            <p class="blog-post-meta"><%= article.published_at.to_s(:custom_datetime) %> from
            <a href="<%= article.url %>"> <%= article.source.name %>  </a>
            </p>
            <hr>
            <p><%= article.description %> </p>
            <p><%= link_to (image_tag article.url_to_image, size: '500x300'), article_path(article)  unless article.url_to_image.blank? %> </p>
            <p><%= link_to ( image_tag article.image, size: '500x300'), article_path(article) if article.image.attached? %> </p>
            <% if policy(@articles).update? %>
      <%= link_to 'Edit', edit_article_path(article) %>
            <%end %>
              <% if policy(@articles).destroy? %>
      <%= link_to 'Destroy', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
            <%end %>
    <%end %>
      </div>
          <div class="page_info">
            <%= page_entries_info @articles %>
          </div>

           <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , list_classes: %w(pagination justify-content-end) %>
        </div>
      </div>

