<div class="row">
      <div class = 'col-md-8 blog-main'>
        <div class="blog-post">
       <%  @articles.each do |article| %>
      <h4 class="blog-post-title">
        <%= link_to "#{article.title}", article_path(article), class: 'navbar-brand' %> </h4>
            <p class="blog-post-meta"><%= article.published_at %> from
            <a href="<%= article.url %>"> <%= article.source.name %>  </a>
            </p>
            <hr>
            <p><%= article.description %> </p>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
            <p></p>
    <%end %>
      </div>
        <div class="apple_pagination">
          <div class="page_info">
            <%= page_entries_info @articles %>
          </div>
           <%= will_paginate @articles, :container => false  %>
        </div>
        </div>
      </div>

