<h2>News</h2>
<div class="container">
  <main role="main" class="container">
    <div class="row">
      <div class = 'col-md-8 blog-main'>
        <div class="blog-post">
       <%  @articles.each do |article| %>
      <h3 class="blog-post-title"><%= article.title %> </h3>
            <p class="blog-post-meta"><%= article.published_at %> from
            <a href="<%= article.url %>"> <%= article.source.name %>  </a>
            </p>
            <hr>
            <p><%= article.description %> </p>
            <%= link_to 'Show', article_path(article) %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
            <p></p>
    <%end %>
      </div>
        <div class="apple_pagination">
          <div class="page_info">
            <%= page_entries_info @articles %>
          </div>
           <%= will_paginate @articles, :container => false  %>
        </div>
        </div>
      </div>
  </main>
</div>

