<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>
<p>
  <strong>Source:</strong>
<td><%= @article.source.name %></td>
</p>
<p><%= image_tag @article.url_to_image, size: '500x300' unless @article.url_to_image.blank? %> </p>
  <p>
  <%= image_tag @article.image, size: '500x300' if @article.image.attached?  %>
  </p>
<% if policy(@article).update? %>
<%= link_to 'Edit', edit_article_path(@article) %>
<%end %>
<%= link_to 'Back', articles_path %>