<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
  <td>
    <%= f.select(:status, User.statuses.keys.map {|status| [status.titleize,status]}) %>
    <button><%= f.submit 'Update user' %></button>
  </td>
<% end %>
</td>
