<td>
  <%= link_to user.email, user %>
</td>

  <%= bootstrap_form_for(user) do |f| %>
    <td>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
      </td>
  <td>
    <%= f.select(:status, User.statuses.keys.map {|status| [status.titleize,status]}) %>
  </td>
  <td>
   <%= f.submit 'Update user' %>
  </td>
<% end %>

